node_modules
.pnpm-store

dist
build
coverage
.vite

.env
.env.*
!.env.example

*.tsbuildinfo
*.log

pnpm-lock.yaml

public/**/*.svg
public/**/*.png
public/**/*.jpg
public/**/*.jpeg
public/**/*.webp
public/**/*.gif
public/**/*.ico

.DS_Store
